{% extends "app/layout.html" %}

{% block title %} Generos {% endblock %}

{% block content %}

<h1>Lista de Generos de Peliculas</h1>
<p></p>
<h3>Formulario</h3>
<form onsubmit="return actualizarFiltro()">
                <label for="genero">Filtrar por categoria:</label>
                <select name="genero" id="genero">
                    <option value="NoFiltrar">Ningun genero</option>
                {% for genero in generos %}
                    <option value="{{ genero | escape }}">{{ genero | escape }}</option>
                {% endfor %}
                </select>

                <input type="submit" value="Filtrar por genero">
    </form> 


<h3>Listado de las peliculas del genero seleccionado</h3>

<table border='1' class="table">
	<tr><td><b>Titulo</b></td><td><b>Director</b></td><td><b>Anio</b></td><td><b>Genero</b></td><td><b>Sipnosis</b></td><td><b>Votos</b></td><td><b>Imagenes</b></td></tr>
	{% for filma in pelis %}
	<tr>
		<td>{{ filma.titulo }}</td>
		<td>{{ filma.direccion }}</td>
		<td>{{ filma.anio }}</td>
		<td>{{ filma.genero }}</td>
		<td>{{ filma.sinopsis }}</td>
		<td>{{ filma.votos }}</td>
		<td><img src="{{filma.media.url}}" width="100"/></td>
	</tr>
	{% endfor %}

</table>
<br />
{% if pelis.has_other_pages %}
<div class="pagination">
	<span class="step-links">
		{% if pelis.has_previous %}
		<a href="?page={{ pelis.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ pelis.number }} of {{ pelis.paginator.num_pages }}.
		</span>

		{% if pelis.has_next %}
		<a href="?page={{ pelis.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
<br />
{% endif %}
{% endblock %}
